@charset "utf-8";
/* CSS Document */

body {
	background-color: #eeeeee;
}

#container {
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
	width: 1000px
}

#grid {
	width: 600px;
	background-color: #fff;
	padding: 10px 45px 45px 45px;
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 50px;
	float: left;
}

#sidebar {
	width: 200px;
	height: 655px;
	background-color: #fff;
	padding: 10px 45px 45px 45px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 50px;
	float: left;
}

h2 {
	font-family: sans-serif;
	font-size: 30px;
	padding: 2px 0px;
}

p {
	font-family: sans-serif;
	font-size: 18px;
	padding: 10px;
}

#header h1 {
	font-family: sans-serif;
	font-size: 30px;
	padding: 10px 0px 0px 10px;
}

#physics li {
	background-color: #990099;
	width: 250px;
	font-size: 20px;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	border: 1px solid;
	border-radius: 50px;
	margin-bottom: 10px;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

#dt li {
	background-color: #E3A200;
	width: 250px;
	font-size: 20px;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	border: 1px solid;
	border-radius: 50px;
	margin-bottom: 10px;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

#media li {
	background-color: #008AE3;
	width: 250px;
	font-size: 20px;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	border: 1px solid;
	border-radius: 50px;
	margin-bottom: 10px;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

#nav ul {
	margin-top: 35px;
}

#physics li:hover {
	cursor:pointer;
	background-color: #690069;
}

#dt li:hover {
	cursor:pointer;
	background-color: #C07700;
}

#media li:hover {
	cursor:pointer;
	background-color: #005993;
}

#footer {
	background-color: #bbbbbb;
	height: 100px;
	clear: both;
}

#header {
	background-color: #bbbbbb;
	height: 150px;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}